/**Google fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Sanchez&display=swap');

body
{
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

 .container
 {
    width: 100%;
 }

#game
{
    background-color: #F8EAA2;
    /*width: 1000px;*/
    width: 75rem;
    border-radius: 5px;
    padding-bottom: 20px;
}


.choice-container
{
    color: white;
    display: flex;
    margin: 0 auto;
    margin-bottom: 0.8rem;
    width: 98%;
    border-radius: 5px;
    font-size: 3rem;
    background-color: #080E82;
    font-family: "ABeeZee", sans-serif;
}

.hud-prefix
{
    padding-top: 10px;
}

.hud-prefix, #score
{
    font-size: 4.5rem;
    color: #000078;
    padding-right: 10px;
}

#question
{
    font-family: "ABeeZee", sans-serif;
    color: #000078;
    font-size: 3.1rem;
    margin-left: 15px;
    padding-right: 10px;
}

/** Styling of answer choices */

.choice-container:hover
{
    cursor: pointer;
    box-shadow: 22px -19px 48px -3px rgba(0,0,0,0.75);
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix
{
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text
{
    padding: 1.9rem;
    width: 100%;
}

.correct
{
    background-color: #CAF8C6;
    border: 10px solid #152F07;
    color: black;
    font-size: 3.6rem;
}

.incorrect
{
    color: black;
    background-color: #FDD2DA;
    border: 10px solid #FF0000;
}

/** Heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix
{
    text-align: center;
    font-size: 2.2rem;
}

.hud-main-text
{
    text-align: center;
}

#progress-bar
{
    width: 25rem;
    height: 3rem;
    border: 0.2rem solid #0000FF;
    margin-top: 1.8rem;
    margin-left: 20px;
    border-radius: 60px;
    overflow: hidden;
}

#progress-bar-full
{
    height: 100%;
    background-color: #0000FF;
    width: 0%;
}

#home-btn
{
    font-size: 1.8rem;
    padding-left: 5px;
}

#home-btn:hover
{
    color: #Ec009d;
}

/** Media Queries for different screen sizes*/

@media screen and (max-width: 768px) 
{
    .container
    {
        width: 100%;
    }

    #game {
        width: 100%;
    }

    #hud
    {
        width: 100%;
    }

    .choice-container
    {
        max-width: 98%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}