/**Google fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Sanchez&display=swap');

body
{
    background-color: #FFF6A5;
}

#finalScore
{
    color: #B0FF49;
}

#high-scores-list
{
    font-family: 'ABeeZee', sans-serif;
    list-style: none;
    margin-bottom: 4rem;
    color: #FCFCA0;
}

.high-score
{
    font-size: 2.6rem;
    margin-bottom: 0.5rem;
}