/**Google fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Sanchez&display=swap');

:root {
    background-color: #0098DA;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Sanchez', sans-serif;
}

body
{
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1
{
    text-align: center;
    font-size: 5.4rem;
    color: #B0FF49;
    margin-bottom: 4rem;
}

h2
{
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

.flex-center
{
    justify-content: center;
    align-items: center;
}

.justify-center
{
    justify-content: center;
}

.text-center
{
    text-align: center;
}

.hidden
{
    display: none;
}

#intro 
{
    text-align: center;
    font-size: 2rem;
    color: #B0FF49;
    padding-bottom: 10px;
}

#rules 
{
    font-size: 1.8rem;
    padding: 3rem;
    margin-bottom: 0.7rem;
    border-radius: 2px;
    border: 2px dashed black;
}

#rules:hover 
{
    background-color: #FFC2CA;
}

#clicked-rules
{
    font-size: 1.5rem;
    font-weight: bold;
}

.btn
{
    font-size: 2.4rem;
    padding: 2rem;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background: rgb(4,14,70);
    background: radial-gradient(circle, rgba(4,14,70,1) 76%, rgba(24,62,218,1) 100%);
    border-radius: 5px;
}

.btn:hover{
    background: crimson;
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
    box-shadow: 22px 10px 5px 0px rgba(0,0,0,0.75);
}

.btn[disabled]:hover
{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn
{
    background: rgb(195,35,34);
    background: linear-gradient(0deg, rgba(195,35,34,1) 0%, rgba(255,211,0,1) 100%);
}

#highscore-btn:hover
{
    box-shadow: 22px 10px 5px 0px rgba(0,0,0,0.75);
}

.fa-crown
{
    font-size: 2.5rem;
    margin-left: 1rem;
}

/** End page styles */

#end-page
{
    background-image: url(../images/end-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.end-form-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
}

#score-title
{
    font-size: 4.5rem;
    color: #1B0C44;
}

#final-score
{
    font-size: 5.5rem;
    color: #050505;
}

#result-message
{
    font-size: 2.8rem;
    font-weight: bold;
    color: #050505;
    padding-bottom: 10px;
    text-align: center;
}

#end-text
{
    font-size: 2rem;
    color: #050505;
    text-align: center;
}

input
{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: 1.5px solid black;
    border-radius: 6px;
}

input::placeholder
{
    color: #5FAC9E;
}

#username
{
    margin-bottom: 3rem;
    width: 100%;
}

#save-score:hover
{
    background-color: #6DD011;
}

.fa-house
{
    margin-left: 0.7rem;
    font-size: 2.3rem;
    color: #fff;
}
